<div  ng-controller="homeController">
<div class="container table-container">
    <div class="row">
        <div class="col-sm-8">
            <div id="graph" e-chart ec-data="echartsOption"></div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm cell">
                    <a class="nav-link" href="#!/blocks/"><i class="fas fa-th fa-2x"></i></a><br>
                    <a class="nav-link" href="#!/blocks/"><h3>{{blocksNumber}}</h3></a><br>
                    <a class="nav-link" href="#!/blocks/"><p class="count-text ">Blocks</p></a>
                </div>
                <div class="col-sm cell">
                    <a class="nav-link" ><i class="fas fa-utensil-spoon fa-2x"></i></a><br>
                    <a class="nav-link" ><button type="button" class="btn {{btnClass}}" ng-click="startStopMiner()">{{minerStatus ? 'Stop' : 'Start'}}</button> </a><br>
                    <a class="nav-link" ><p class="count-text ">Miner</p></a>
                </div>
                <div class="col-sm cell">
                    <a class="nav-link" href="#!/nodes/"><i class="fas fa-project-diagram fa-2x"></i></a><br>
                    <a class="nav-link" href="#!/nodes/"><h3>128</h3></a><br>
                    <a class="nav-link" href="#!/nodes/"><p class="count-text ">Nodes</p></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container block-info-container">

<!-- BLOCK LISTING -->
<div class="block-header block-header-margin">
<div class="block-mainpage-header">
    <a href="#!/blocks/"><span>Block Information</span></a>
    <button class="btn btn-default" ng-click="refresh()"><i class="fa fa-refresh fa-2px" aria-hidden="true">Refresh</i></button>
</div>
</div>

<div class="block">
<table class="table block-table table-striped ">
    <tbody>
    <tr ng-repeat="block in blocks">
        <th scope="row">
            <a href="#!/block/{{block.height}}/">
                <div class="block_box">
                    <span>Block {{block.height}}</span>
                </div>
            </a>
        </th>
        <td>
            <div class="block-detail-time">Time&nbsp;&nbsp; {{block.time*1000 | date:'yyyy-MM-dd HH:mm:ss'}} &nbsp;UTC</div>
            <div class="block-detail-mine">Hash &nbsp;&nbsp; <a href="#!/block/{{block.hash}}/">{{block.hash}}</a></div>
        </td>
    </tr>
    </tbody> <!-- END OF tbody -->
</table> <!-- END OF table -->

<div class="view-all-button">
    <a href="#!/blocks/">View All</a>
</div>
</div> <!-- END OF BLOCK -->

</div> <!-- END OF CONTAINER -->
</div>